@using Microsoft.AspNetCore.Components.Routing

<nav class="navbar container" aria-label="Main">
    <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="/Gifts">Gifts</NavLink>
    <NavLink href="/Books">Books</NavLink>
    <NavLink href="/Cards">Cards</NavLink>
    <NavLink href="/Treats">Sweet Treats</NavLink>
    <NavLink href="/Admin/Inventory">Admin</NavLink>
    <NavLink href="/Login">Login</NavLink>

</nav>