@using Microsoft.AspNetCore.Components.Routing

<nav class="navbar container" aria-label="Main">
    <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="/Parent/Intro">Get Started</NavLink>
    <NavLink href="/Parent/Gifts">Gifts</NavLink>
    <NavLink href="/Parent/Books">Books</NavLink>
    <NavLink href="/Parent/Cards">Cards</NavLink>
    <NavLink href="/Parent/Treats">Sweet Treats</NavLink>
    <NavLink href="/Admin/Inventory">Admin</NavLink>

</nav>